openapi: 3.0.0
servers:
  - url: "https://nuernberg-abfallapp.regioit.de/abfall-app-nuernberg/rest"
    description: Nürnberg
  - url: "https://aachen-abfallapp.regioit.de/abfall-app-aachen/rest"
    description: Aachen
  - url: "https://zew2-abfallapp.regioit.de/abfall-app-zew2/rest/standorte/orte"
    description: Aachen und Umgebung
  - url: "https://krwaf-abfallapp.regioit.de/abfall-app-krwaf/rest"
    description: Kreis Warendorf 
info:
  title: Abfallnavi API
  version: "1.0.0"
  description: |
    Termine für Leerung des Abfalls nach Abfallart (Papier, Restmüll, ...). Beispielswerte sind für die Stadt Nürnberg.

    # Vorgehensweise
    1. Orte aus System holen
    2. Mit Ort die Straßen abfragen
    3. Mit Straße die Hausnummern abfragen
    4. Mit Haunummer die möglichen Fraktionen (Müllsorten) abfragen
    5. Mit Hausnummer und Fraktionen alle Termine abrufen

    Manchmal wird nicht nach Hausnummer unterschieden

tags:
  - name: Abholpunkte
    description: Orte, Straßen, Hausnummern
  - name: Fraktionen
    description: Papier, Restmüll, ...
  - name: Termine
paths:
  /orte:
    get:
      summary: Orte im System
      description: Orte die von diesem API-Endpoint bedient werden
      operationId: orte
      tags:
        - "Abholpunkte"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ort"

  /orte/{ortId}/strassen:
    get:
      summary: Straßen im Ort
      description: |
        Straßen im Ort.

        **Warnung**: Die Antwort dieser Anfrage ist zu groß für Anzeige innerhalb der Webseite
      operationId: strassenProOrt
      tags:
        - "Abholpunkte"
      parameters:
        - in: path
          name: ortId
          description: Id des Ortes
          required: true
          schema:
            type: integer
          example: 4407686
      responses:
        "200":
          description: |
            OK

            **Hinweis**: Nur in der ersten Straße ist `hausNrList` befüllt.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Strasse"

  /strassen/{strassenId}:
    get: 
      summary: Hausnummern in Straße
      description: Hausnummern in Straße
      operationId: hausnummernProStrasse
      tags:
        - "Abholpunkte"
      parameters:
        - in: path
          name: strassenId
          description: Id der Straße
          required: true
          schema:
            type: integer
          example: 4423828
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Strasse"

  /fraktionen:
    get:
      summary: Müllarten im System
      description: Welche Müllarten es im System
      operationId: muellarten
      tags:
        - "Fraktionen"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Fraktion"


  /hausnummern/{hausnummernId}/fraktionen:
    get:
      summary: Müllarten für Hausnummer
      description: Welche Müllarten es gibt an einer Hausnummer
      operationId: muellartenProHausnummer
      tags:
        - "Fraktionen"
      parameters:
        - in: path
          name: hausnummernId
          description: Id der Hausnummer
          required: true
          schema:
            type: integer
          example: 4423852
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Fraktion"

  /strassen/{strassenId}/termine:
    get:
      summary: Abholtermine für Straße
      description: Abholtermine für Straße
      operationId: termineProStrasse
      tags:
        - "Termine"
      parameters:
        - in: path
          name: strassenId
          description: Id der Strasse
          required: true
          schema:
            type: integer
          example: 4407688
        - in: query
          name: fraktion
          required: true
          schema:
            type: array
            items:
              type: integer
            example: [1, 2]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Abholung"

  /hausnummern/{hausnummernId}/termine:
    get:
      summary: Abholtermine für Hausnummer
      description: Abholtermine für Hausnummer
      operationId: termineProHaussnummer
      tags:
        - "Termine"
      parameters:
        - in: path
          name: hausnummernId
          description: Id der Hausnummer
          required: true
          schema:
            type: integer
          example: 4423852
        - in: query
          name: fraktion
          required: true
          schema:
            type: array
            items:
              type: integer
            example: [1, 2]
            
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Abholung"
components:
  schemas:
    Ort:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 4407686
        name:
          type: string
          example: Nürnberg
    Strasse:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 4432667
        name:
          type: string
          example: Hauptmarkt
        staticId:
          type: string
          example: TvxybmJlcmdkZWZhdWx0SGF1cHRtYXJrdA==
        hausNrList:
          type: array
          items:
            $ref: '#/components/schemas/Hausnummer'
        plz:
          type: object
          #example: null # TODO Scheint immer null zu sein
        ortsteilName:
          type: string
          example: default
        ort:
          $ref: '#/components/schemas/Ort'
          
    Hausnummer:
      properties:
        id:
          type: integer
          format: int64
          example: 4407689
        nr:
          type: string
          example: "1"
        plz:
          type: string
          example: "90425"
        staticId:
          type: string
          example: "TvxybmJlcmdkZWZhdWx0SGF1cHRtYXJrdA=="
    Fraktion:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 0
        name:
          type: string
          example: Restabfall
        iconNr:
          type: integer
          format: int64
          example: 7
        farbeRgb:
          type: string
          example: "555555"
    Abholung:
      properties:
        id:
          type: integer
          format: int64
          example: 4478944
        bezirk:
          type: array
          items:
            $ref: '#/components/schemas/Bezirk'
        datum:
          type: string
          example: "2022-01-05"
          #format: date # TODO Datenformat klären
    Bezirk:
      properties:
        id:
          type: integer
          format: int64
          example: 4407690
        name:
          type: string
          example: B0
        gueltigAb:
          type: object
          #example: null # TOOD Scheint immer null zu sein
        fraktiionId:
          type: integer
          format: int64
          example: 0